__pycache__/
*.pyc
.ipynb_checkpoints/
Data_INSEE/Filosofi2019_carreaux_200m_gpkg.7z
Data_INSEE/flux_domicile_travail.csv
Data_INSEE/flux_domicile_etudes.csv
Data_SNCF/*.zip
Data_SNCF/*.json
.claude/
Output/
.DS_Store
